.section{

	&--bg-image{
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--black-cover{
		position: relative;

		&::after{
			content: '';
			position: absolute;
			inset: 0;
			background: rgba($black, .5);
			z-index: 1;
		}
	}

	&__content{
		z-index: 2;
	}

	&__title{
		position: relative;
		margin-bottom: calc(.5em * 2 - .375rem);

		&::after{
			content: '';
			position: absolute;
			bottom: calc(-.5em);
			width: $spacer * 3;
			height: .375rem;
			background-color: $orange;
		}

		&--center{
			&::after{
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}