.no-js .testimonials-slider { overflow-x: auto; }
.no-js .testimonials-slider > div { float: none; }

.tns-nav{

	& button{
		width: .5rem;
		height: .5rem;
		border: 0;
		background-color: rgba($black, .15);
		margin-left: .2em;
		margin-right: .2em;
		border-radius: .25rem;
		transition: all .35s;
		padding: 0;

		&.tns-nav-active{
			background-color: rgba($orange, .85);
			width: 1rem;
		}
	}
}

.testimonials-slider{

	& .tns-nav{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: $spacer * 2;
	}

	&__controls{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__nav-item{
		border: 0;
		background-color: transparent;
		color: rgba($orange, .85);
		font-size: $font-size-base * 2;
		opacity: .6;
		transition: all .35s;

		&:hover,
		&:active{
			color: rgba($orange, .85);
			opacity: 1;
		}
	}
}